<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/script.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
